apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  namespace: mlops-system
spec:
  type: LoadBalancer
  selector:
    app: fastapi
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080