name: CD - Deploy to Kubernetes

on:
  push:
    branches:
      - master  # or your deployment branch
    paths:
      - 'k8s/**'
      - '.github/workflows/cd.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.34.1'  # Match your cluster version

      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl config use-context my-context  # Optional
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/volumes.yaml
          kubectl apply -f k8s/fastapi-deployment.yaml
          kubectl apply -f k8s/fastapi-service.yaml
          kubectl apply -f k8s/streamlit-deployment.yaml
          kubectl apply -f k8s/streamlit-service.yaml

      - name: Verify Pods
        run: |
          kubectl get pods -n mlops-system
