name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Run tests
        run: |
          pytest -q

  docker-build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push FastAPI image
        run: |
          docker build -f docker/serve.Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/insurance-fastapi:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/insurance-fastapi:latest

      - name: Build & Push Streamlit image
        run: |
          docker build -f docker/ui.Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/insurance-ui:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/insurance-ui:latest
